<!DOCTYPE html>
<!-- 
_|        _|                      
_|            _|_|_|_|    _|_|_|  
_|        _|      _|    _|    _|  
_|        _|    _|      _|    _|  
_|_|_|_|  _|  _|_|_|_|    _|_|_|  
                                  
                                  
                                            
  _|_|                    _|            _|  
_|    _|  _|_|_|  _|_|        _|_|_|        
_|_|_|_|  _|    _|    _|  _|  _|    _|  _|  
_|    _|  _|    _|    _|  _|  _|    _|  _|  
_|    _|  _|    _|    _|  _|  _|    _|  _|  yo.
                                            
-->
<html>
<head>
  <!-- All my metas, yo' -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Liza Amini, yo' -->
  <title>Liza Amini</title>
  <!-- all teh javascripts, yo' -->
  <script src="/js/salvattore.js"></script>
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

</head>
<body>
	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">//Liza Amini</h1>
			<h5>Hi! I'm <a href="http://twitter.com/lz_am">Liza.</a> I write <a href="http://github.com/lizaamini">code.</a></h5>
			<hr />
		</div>
		<div class="sixteen columns">
			<h2>Things I've built</h2>
		</div>
		<div class="one-third column">
			<h3><a href="http://busify.jit.su">busify</a></h3>
			<ul class="square">
				<li><strong>Built as a side project in 2014: </strong>Scrapes the nextbuses.mobi website and gives you bus times in a nice, clean way.</li>
				<li><strong>Tools used by me: </strong>HTML5, CSS3, JavaScript, with node.js on the server</li>
			</ul>
		</div>
		<div class="one-third column">
			<h3><a href="http://marauder.me">marauder.me</a></h3>
			<ul class="square">
				<li><strong>Built at Young Rewired State 2012:</strong> A web based Marauder's Map using the Twitter API + geolocation which helps you get places. Create and track an event, and see who else is around, so you're never out of the loop</li>
				<li><strong>Tools used by me: </strong>HTML5, CSS3, JavaScript</li>
			</ul>
		</div>
		 <div class="one-third column">
			<h3><a href="http://crimefinder.co.uk">CrimeFinder</a></h3>
			<ul class="square">
				<li><strong>Built at Young Rewired State 2013:</strong> A web app providing the safest route for cycling based on the area of crime</li>
				<li><strong>Tools used by me:</strong> HTML5, CSS3, JavaScript</li>
			</ul>
		</div>
	  	<div class="sixteen columns">
			<h3><a href="http://citybattles.jit.su/signup">CityBattles</a></h3>
			<ul class="square">
				<li><strong>Built at Young Rewired State 2014:</strong> Which city knows the most?</li>
				<li><strong>Tools used by me:</strong> HTML5, CSS3, JavaScript, with node.js on the server and Parse for the database</li>
			</ul>
		</div>
	</div>
</body>
</html>